
/* Media queries del boostrap inicio  */

@media screen and (max-width: 1185px) {
    header {
        padding: 5px;
    }

    header div.container-fluid img {
        max-width: 70px;
    }

    header div.container-fluid h1 {
        font-size: 50px;
    }

    .container-fluid nav ul {
        gap: 20px;
    }

    .container-fluid nav ul li a {
        font-size: 20px;
    }
}

@media screen and (max-width: 951px) {
    header {
        padding: 5px;
    }

    header div.container-fluid img {
        max-width: 65px;
    }

    header div.container-fluid h1 {
        font-size: 45px;
    }

    .container-fluid nav ul {
        gap: 18px;
    }

    .container-fluid nav ul li a {
        font-size: 18px;
    }
}


@media screen and (max-width: 874px) {
    header {
        padding: 5px;
    }

    header div.container-fluid img {
        max-width: 65px;
    }

    header div.container-fluid h1 {
        font-size: 40px;
    }

    .container-fluid nav ul {
        gap: 15px;
    }

    .container-fluid nav ul li a {
        font-size: 15px;
    }
}

@media screen and (max-width: 790px) {
    header {
        padding: 5px;
    }

    header div.container-fluid img {
        max-width: 60px;
    }

    header div.container-fluid h1 {
        font-size: 35px;
    }

    .container-fluid nav ul {
        gap: 15px;
    }

    .container-fluid nav ul li a {
        font-size: 15px;
    }
}

@media screen and (max-width: 737px) {

    header {
        padding: 5px;
    }

    header div.container-fluid img {
        max-width: 60px;
    }

    header div.container-fluid h1 {
        font-size: 30px;
    }

    .container-fluid nav ul {
        gap: 15px;
    }

    .container-fluid nav ul li a {
        font-size: 15px;
    }
}

@media screen and (max-width: 689px) {

    header {
        padding: 5px;
    }

    header div.container-fluid img {
        max-width: 50px;
    }

    header div.container-fluid h1 {
        font-size: 25px;
    }

    .container-fluid nav ul {
        gap: 15px;
    }

    .container-fluid nav ul li a {
        font-size: 15px;
    }
}

@media screen and (max-width: 631px) {

    header {
        padding: 5px;
    }

    header div.container-fluid img {
        max-width: 40px;
    }

    header div.container-fluid h1 {
        font-size: 20px;
    }

    .container-fluid nav ul {
        gap: 10px;
    }

    .container-fluid nav ul li a {
        font-size: 10px;
    }
}

@media screen and (max-width: 513px) {

    header {
        padding: 5px;
    }

    header div.container-fluid img {
        max-width: 40px;
    }

    header div.container-fluid h1 {
        font-size: 16px;
    }

    .container-fluid nav ul {
        gap: 10px;
    }

    .container-fluid nav ul li a {
        font-size: 10px;

    }
}

@media screen and (max-width: 420px) {

    header {
        padding: 5px;
    }

    header div.container-fluid img {
        max-width: 40px;
    }

    header div.container-fluid h1 {
        font-size: 16px;
    }

    .container-fluid nav ul {
        gap: 10px;
        margin: 0;
    }

    .container-fluid nav ul li a {
        font-size: 10px;
        margin: 0;
    }
}

/* Media queries header general */

@media screen and (max-width: 1185px) {
    header {
        padding: 5px;
    }

    header div.container img {
        max-width: 70px;
    }

    header div.container h1 {
        font-size: 50px;
    }

    .container nav ul {
        gap: 20px;
    }

    .container nav ul li a {
        font-size: 20px;
    }
}

@media screen and (max-width: 951px) {
    header {
        padding: 5px;
    }

    header div.container img {
        max-width: 65px;
    }

    header div.container h1 {
        font-size: 45px;
    }

    .container nav ul {
        gap: 18px;
    }

    .container nav ul li a {
        font-size: 18px;
    }
}


@media screen and (max-width: 874px) {
    header {
        padding: 5px;
    }

    header div.container img {
        max-width: 65px;
    }

    header div.container h1 {
        font-size: 40px;
    }

    .container nav ul {
        gap: 15px;
    }

    .container nav ul li a {
        font-size: 15px;
    }
}

@media screen and (max-width: 790px) {
    header {
        padding: 5px;
    }

    header div.container img {
        max-width: 60px;
    }

    header div.container h1 {
        font-size: 35px;
    }

    .container nav ul {
        gap: 15px;
    }

    .container nav ul li a {
        font-size: 15px;
    }
}

@media screen and (max-width: 737px) {

    header {
        padding: 5px;
    }

    header div.container img {
        max-width: 60px;
    }

    header div.container h1 {
        font-size: 30px;
    }

    .container nav ul {
        gap: 15px;
    }

    .container nav ul li a {
        font-size: 15px;
    }
}

@media screen and (max-width: 689px) {

    header {
        padding: 5px;
    }

    header div.container img {
        max-width: 50px;
    }

    header div.container h1 {
        font-size: 25px;
    }

    .container nav ul {
        gap: 15px;
    }

    .container nav ul li a {
        font-size: 15px;
    }
}

@media screen and (max-width: 631px) {

    header {
        padding: 5px;
    }

    header div.container img {
        max-width: 40px;
    }

    header div.container h1 {
        font-size: 20px;
    }

    .container nav ul {
        gap: 10px;
    }

    .container nav ul li a {
        font-size: 10px;
    }
}

@media screen and (max-width: 513px) {

    header {
        padding: 5px;
    }

    header div.container img {
        max-width: 40px;
    }

    header div.container h1 {
        font-size: 16px;
    }

    .container nav ul {
        gap: 10px;
    }

    .container nav ul li a {
        font-size: 10px;

    }
}

@media screen and (max-width: 420px) {

    header {
        padding: 5px;
    }

    header div.container img {
        max-width: 40px;
    }

    header div.container h1 {
        font-size: 16px;
    }

    .container nav ul {
        gap: 10px;
        margin: 0;
    }

    .container nav ul li a {
        font-size: 10px;
        margin: 0;
    }
}

/*footer media queries*/

@media screen and (max-width: 768px) {
    
    footer div.logo2 img{
        max-width: 80px;
    }

    footer div.copyright{
    font-size: 15px ;
    }
    
    footer div.info{
    font-size: 15px ;
    }
    

}

@media screen and (max-width: 425px) {
    
    footer div.logo2 img{
        max-width: 60px;
    }

    footer div.copyright{
    font-size: 12px ;
    }
    
    footer div.info{
    font-size: 12px ;
    }
    
}

@media screen and (max-width: 375px) {

    footer div.logo2 img{
        max-width: 50px;
    }

    footer div.copyright{
    font-size: 10px ;
    }
    
    footer div.info{
    font-size: 10px ;
    }
    
}

@media screen and (max-width: 320px) {
    
    footer div.logo2 img{
        max-width: 50px;
    }

    footer div.copyright{
    font-size: 10px ;
    }
    
    footer div.info{
    font-size: 10px ;
    }
    
}

/*media queries body index*/

@media screen and (max-width: 768px){

    div.options section ul li a{
        max-width: 500px ;
    }
    .options section h2{
        font-size: 25px;
    }
    .bordered-heading::before,
.bordered-heading::after{
    max-width: 125px;
}


}

@media screen and (max-width: 520px){

    div.options section ul li a{
        max-width: 400px ;
    }
    .options section h2{
        font-size: 20px;
    }
    .bordered-heading::before,
    .bordered-heading::after{
        max-width: 100px;
    }
}

@media screen and (max-width: 420px){

    div.options section ul li a{
        max-width: 350px ;
        font-size: 30px;
    }

    .options section h2{
        font-size: 15px;
    }
    .bordered-heading::before,
    .bordered-heading::after{
        max-width: 95px;
    }
}

@media screen and (max-width: 375px){
    
    div.options section ul li a{
        max-width: 300px ;
        font-size: 25px;
    }
    .bordered-heading::before,
    .bordered-heading::after{
        max-width: 75px;
    }
    .options section h2{
        font-size: 15px;
    }
}

@media screen and (max-width: 320px){

    div.options section ul li a{
        max-width: 250px ;
    }
    .bordered-heading::before,
    .bordered-heading::after{
        max-width: 60px;
    }
}

/*media queries otras categorias*/
@media screen and (max-width: 768px){

    div.categorias ul li a{
        max-width: 500px ;
    }

}


@media screen and (max-width: 520px){

    div.categorias ul li a{
        max-width: 400px ;
    }

}

@media screen and (max-width: 420px){

    div.categorias ul li a{
        max-width: 350px ;
        font-size: 30px;
    }


}

@media screen and (max-width: 375px){
    
    div.categorias ul li a{
        max-width: 300px ;
        font-size: 25px;
    }

}

@media screen and (max-width: 320px){

    div.categorias ul li a{
        max-width: 250px ;
    }

}

/*media queries contactos*/
@media screen and (max-width: 768px){

    fieldset{
        max-width: 400px;
    }
    .formulario-label, .formulario-input,
.formulario-submit{
max-width: 400px ;
font-size: 20px;
}
.legend{
    font-size: 20px;
}
}

@media screen and (max-width: 425px){

    fieldset{
        max-width: 300px;
    }
    .formulario-label, .formulario-input,
.formulario-submit{
max-width: 250px ;
font-size: 15px;
}
.legend{
    font-size: 15px;
}
}

/*media queries nosotros*/

@media screen and (max-width: 1000px){
    .articulo1, .articulo2, .articulo3, .articulo4{
font-size: 20px ;
margin: 5px;
padding: 5px;
    }
}

@media screen and (max-width: 768px){
    .articulo1, .articulo2, .articulo3, .articulo4{
font-size: 20px ;
margin: 5px;
padding: 5px;
    }
}


@media screen and (max-width: 425px){
.articulo1, .articulo2, .articulo3, .articulo4{
font-size: 15px ;
margin-top: 5px;
margin-bottom: 5px;
margin: 5px;
padding: 5px;
}
}

@media screen and (max-width: 375px){
.articulo1, .articulo2, .articulo3, .articulo4{
font-size: 10px ;
margin-top: 3px;
margin-bottom: 3px;
}
}

@media screen and (max-width: 320px){
    .articulo1, .articulo2, .articulo3, .articulo4{
font-size: 8px ;
margin-top: 2px;
margin-bottom: 2px;
    }
}

/* media queries cards*/

@media screen and (max-width: 1050px) {

    .card{
     max-width: 200px ;
     max-height: 280px;

    }

}


@media screen and (max-width: 840px) {
    
    .card{
     max-width: 180px ;
     max-height: 240px;

    }

    .card div{
        font-size: 12px;
    }

}


@media screen and (max-width: 730px) {
    
    .card{
     max-width: 150px ;
     max-height: 200px;

    }

    .card div{
        font-size: 10px;
    }

}

@media screen and (max-width: 610px) {
    
    .card{
     max-width: 120px ;
     max-height: 180px;

    }

    .card div{
        font-size: 10px;
    }

}

@media screen and (max-width: 490px) {
    
    .card{
     max-width: 100px ;
     max-height: 150px;

    }

    .card div{
        font-size: 8px;
    }

}

@media screen and (max-width: 400px) {
    
    .card{
     max-width: 80px ;
     max-height: 120px;

    }

    .card div{
        font-size: 6px;
    }

}


@media screen and (max-width: 330px) {
    
    .card{
     max-width: 80px ;
     max-height: 120px;

    }

    .card div{
        font-size: 6px;
    }

}



